<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Peliarvostelupalvelu</title>
  </head>

  <body>
	{% if current_user.is_authenticated %}
	<p>
	  Kirjautunut nimellä <a href="{{ url_for('auth_profile', user_id=current_user.id ) }}">{{ current_user.username }}</a>. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
	</p>
    {% else %}
	<a href="{{ url_for('auth_login') }}">Kirjaudu</a>
	{% endif %}
	
    <ul>
	  <li><a href="{{ url_for('games_index') }}">Pelilista</a></li>
	  <li><a href="{{ url_for('reviews_list') }}">Arvostelulista</a></li>
	  <li><a href="{{ url_for('games_form') }}">Lisää peli</a></li>
	  
    </ul>
    {% block body %}
      <p>
        
      </p>
    {% endblock %}
  </body>
</html>