{% extends "layout.html" %}
  
{% block body %}
<main role="main" class="container">
  <form method="POST" action="{{ url_for('reviews_createOrUpdate') }}">
    <p> Arvostelu pelille {{ game.name }} </p>
    </br>
    {{ form.game_id }}
    {{ form.review_id }}
    {{ form.grade.label}}
    {{ form.grade }}
    {% for error in form.grade.errors %}
      {{ error }}
    {% endfor %}
    </br>
    {{ form.text.label }}
    </br>
    {{ form.text }}
    {% for error in form.text.errors %}
      {{ error }}
    {% endfor %}
    </br>
    <input type="submit" name="edit" value="Muokkaa"/>  
  </form>
</main>
{% endblock %}