{% extends "layout.html" %}

{% block body %}
  {% if current_user.admin %}
	<a href="{{ url_for('reviews_list') }}">Kaikki arvostelut</a>
	<a href="{{ url_for('reviews_flaggedList') }}">Asiattomiksi merkityt</a>
  {% endif %}
  <table class="table">
  <thead>
    <tr>
       <th style="width: 20%"><a href="{{ url_for('reviews_list') }}">Peli</a></th>
       <th style="width: 20%">Arvostelija</th>
       <th style="width: 5%"><a href="{{ url_for('reviews_listGrade') }}">Arvosana</a></th>
       <th style="width: 20%">Arvostelu</th>
       <th style="width: 10%"></th>
     </tr>
   </thead>
   <tbody>
     {% for review in reviews %}
       <tr>
         <td><a href="{{ url_for('reviews_index', game_id=review.game_id  ) }}">{{ review.game.name }}</a></td>
         <td><a href="{{ url_for('auth_profile', user_id=review.user_id  ) }}">{{ review.user.username }}</a></td>
         <td>{{ review.grade }} </td>
	     <td>{{ review.text }}</td>
         <td>
	       <form method="POST" action="{{ url_for('reviews_removeOrMarkOrEdit', review_id=review.id) }}">
		     {% if current_user.is_authenticated %}
	           {% if current_user.admin %}
		          <td>
			        <input type="submit" name="unmark" value="Merkitse asialliseksi" />
			      </td>
			      <td>
			        <input type="submit" name="remove" value="Poista" />
	              </td>
		        {% else %}
		          {% if current_user.id == review.user_id %}
			        <td>
			          <input type="submit" name="edit" value="Muokkaa" />
					</td>
					<td>	
			          <input type="submit" name="remove" value="Poista" />
	                </td>
			      {% else %}
			        <td>
				      <input type="submit" name="mark" value="Merkitse asiattomaksi" /> 
			        </td>
			      {% endif %}
		        {% endif %}
	          {% endif %}
	        </form> 
	      </td>
        </tr>
	  {% endfor %}
    </tbody>
  </table>
{% endblock %}