{% extends "layout.html" %}

{% block body %}

			  
  <p>Arvostelut pelille {{ game.name }} </p> 
  <table style="width:60ch">
    <tr>
      <th>Arvostelija</th>
      <th><a href="{{ url_for('reviews_gradeOrder', game_id=game.id  ) }}">Arvosana</a></th>
	  <th>Arvostelu</th>
	  <th></th>

    </tr>
    {% for review in reviews %}
    <tr>
      <td><a href="{{ url_for('auth_profile', user_id=review.user.id  ) }}">{{ review.user.username }}</a></td>
      <td>{{ review.grade }} </td>
	  <td>{{ review.text }}</td>
      <td>
	  
	  <form method="POST" action="{{ url_for('reviews_removeOrMarkOrEdit', review_id=review.id) }}">
		{% if current_user.is_authenticated %}
	      {% if current_user.admin %}
		    <td>
			<input type="submit" name="unmark" value="Merkitse asialliseksi" />
			</td>
			<td>
			<input type="submit" name="remove" value="Poista" />
	        </td>
		  {% else %}
		    {% if current_user.id == review.user_id %}
			  <td>
			  <input type="submit" name="edit" value="Muokkaa" />
			  </td>
			  <td>
			  <input type="submit" name="remove" value="Poista" />
	          </td>
			{% else %}
			  <td>
				<input type="submit" name="mark" value="Merkitse asiattomaksi" /> 
			  </td>
			{% endif %}
		  {% endif %}
	    {% endif %}
	  </form> 
	  </td>

	</tr>
    {% endfor %}
  </table>
{% endblock %}