{% extends "layout.html" %}

{% block body %}
  <main role="main" class="container">
    {% if current_user.admin %}
	  <a href="{{ url_for('reviews_list') }}">Kaikki arvostelut</a>
	  <a href="{{ url_for('reviews_flaggedList') }}">Asiattomiksi merkityt</a>
    {% endif %}
  </main>
  <table class="table" id="myTable">
  <thead>
    <tr>
       <th style="width: 15%">Peli</th>
       <th style="width: 15%">Arvostelija</th>
       <th style="width: 10%">Arvosana/th>
       <th style="width: 20%">Arvostelu</th>
	   <th style="width: 10%">Tykkäyksiä</th>
       <th style="width: 30%"></th>
     </tr>
   </thead>
   <tbody>
     {% for review in reviews %}
       <tr>
         <td style="position:relative"><div style="width: 90%; overflow: auto; position: absolute;"><a href="{{ url_for('reviews_index', game_id=review.game_id  ) }}">{{ review.game_name }}</a></div></td>
         <td style="position:relative"><div style="width: 90%; overflow: auto; position: absolute;"><a href="{{ url_for('auth_profile', user_id=review.user_id  ) }}">{{ review.username }}</a></div></td>
         <td>{{ review.grade }} </td>
	     <td><textarea rows="5%" cols="25%" id="aboutDescription" style="resize: none;" data-role="none" readonly="true">{{ review.text }}</textarea></td>
		 <td>{{ review.like_count }} </td>
		 <td>
		   {% if current_user.is_authenticated %}
	         {% if current_user.admin %}
		       <form style="display:inline" method="POST" action="{{ url_for('reviews_unmark', review_id=review.id) }}">
			     <input type="submit" name="listing" value="Merkitse asialliseksi" />
			   </form>
			   <form style="display:inline" method="POST" action="{{ url_for('reviews_remove', review_id=review.id) }}">
			     <input type="submit" name="listing" value="Poista" />
			   </form>  
		     {% else %}
		       {% if current_user.id == review.user_id %}
			     <form style="display:inline" method="POST" action="{{ url_for('reviews_editReview', review_id=review.id) }}">
			       <input type="submit" name="edit" value="Muokkaa" />
				 </form>
			     <form style="display:inline" method="POST" action="{{ url_for('reviews_remove', review_id=review.id) }}">
			       <input type="submit" name="listing" value="Poista" />
	             </form>   
			   {% else %}
			     {% if review.is_liked == 0 %}
			       <form style="display:inline" method="POST" action="{{ url_for('reviews_like', review_id=review.id) }}">
				     <input type="submit" name="listing" value="Tykkää" /> 
				   </form>	  
			     {% else %}
			       <form style="display:inline" method="POST" action="{{ url_for('reviews_unlike', review_id=review.id) }}">
				     <input type="submit" name="listing" value="Poista tykkäys" /> 
				   </form>	  
			     {% endif %}
			     <form style="display:inline" method="POST" action="{{ url_for('reviews_mark', review_id=review.id) }}">
				   <input type="submit" name="listing" value="Merkitse asiattomaksi" /> 
			     </form>	  
			   {% endif %}
		     {% endif %}
	       {% endif %}
		 </td>  
       </tr>
	 {% endfor %}
    </tbody>
  </table>
  <script>
    $(document).ready( function () {
      $('#myTable').DataTable({scrollY: 490});
    } );
  </script>
{% endblock %}