{% extends "layout.html" %}

{% block body %}

<main role="main" class="container">
  
  <p><b>Kirjautuminen</b> </p>
  <form method="POST" action="{{ url_for('auth_login') }}">
	<table>
      <tr>
        <td style="width: 5%">
          {{ form.username.label }}
        </td>
		<td>
          {{ form.username }} {{ error }}
        </td>
      </tr>
      <tr>
        <td style="width: 5%">
          {{ form.password.label }}
	    </td>
	    <td>
          {{ form.password }}
        </td>
      </tr>
    </table>
    <input type="submit" value="Kirjaudu"/> tai <a href="{{ url_for('auth_form') }}">rekisteröidy</a>
  </form>
</main>



{% endblock %}