{% extends "layout.html" %}
  
{% block body %}
<main role="main" class="container">
  <p> Rekisteröityminen </p>
  <form method="POST" action="{{ url_for('auth_registerOrUpdate') }}">
    <table>
      <tr>
        <td style="width: 20%">
	      {{ form.username.label}}
        </td>
	    <td>
	      {{ form.username }}
	      {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </td>
	  <tr>
	    <td style="width: 20%">
          {{ form.password.label }}
	    </td>
	    <td>
          {{ form.password }}
	    </td>
      </tr>
  	  <tr>
	    <td style="width: 20%"> 
          {{ form.passwordSec.label }}
	    </td>
	    <td>
          {{ form.passwordSec }}
          {% for error in form.passwordSec.errors %}
            {{ error }}
          {% endfor %}
	    </td>	
      </tr>
	</table>
    <input type="submit" name="create" value="Rekisteröidy"/>
  </form>
</main>
{% endblock %}