{% extends "layout.html" %}

{% block body %}
  <main role="main" class="container">
    <p>Käyttäjänimi: {{ users[0].username }} </br>Arvosteluja: {{ users[0].review_count }} </p>
	{% if current_user.id==users[0].id  %}
		{% if current_user.username!="admin" %} 
			<form method="POST" action="{{ url_for('auth_edit', user_id=users[0].id) }}">
				<input type="submit" name="edit" value="Muokkaa tietoja" />
			</form>
		{% endif %}
	{% endif %}
	<p>Arvostelut:</p>  
  </main>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%">Peli</th>
        <th style="width: 10%">Arvosana</th>
        <th style="width: 25%">Arvostelu</th>
      </tr>
    </thead>
    <tbody>
	  {% for review in reviews %}
        <tr>
          <td style="position:relative"><div style="width: 90%; overflow: auto; position: absolute;"><a href="{{ url_for('reviews_index', game_id=review.game_id  ) }}">{{ review.game.name }}</a></div></td>
          <td>{{ review.grade }}</td>
          <td><textarea rows="5%" cols="25%" id="aboutDescription" style="resize: none;" data-role="none" readonly="true">{{ review.text }}</textarea></td>
          <td><form method="POST" action="{{ url_for('reviews_removeOrMarkOrEdit', review_id=review.id) }}"></form></td>
		  <td>
            <form method="POST" action="{{ url_for('reviews_removeOrMarkOrEdit', review_id=review.id) }}">
		      {% if current_user.is_authenticated %}
	            {% if current_user.admin %}
		          <td>
			        <input type="submit" name="unmark" value="Merkitse asialliseksi" />
			      </td>
			      <td>
			        <input type="submit" name="remove" value="Poista" />
	              </td>
		        {% else %}
		      {% if current_user.id == review.user_id %}
			    
			      <input type="submit" name="edit" value="Muokkaa" />	
                				
			      <input type="submit" name="remove" value="Poista" />
	            
			  {% else %}
			    <td>
				  <input type="submit" name="mark" value="Merkitse asiattomaksi" /> 
			    </td>
			  {% endif %}
	        {% endif %}
	      {% endif %}
        </tr>
	  {% endfor %}	
    </tbody>
  </table>
{% endblock %}