{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Peli</th>
      <th>Tunnus</th>
	  <th>Julkaisupäivä</th>
	  <th></th>

    </tr>
    {% for game in games %}
    <tr>
      <td>{{ game.name }}</td>
      <td>{{ game.tag }}</td>
	  <td>{{ "{}.{}.{}".format(game.publication.day, game.publication.month, game.publication.year) }}</td>
      <td>
	    <form method="POST" action="{{ url_for('games_removeOrMark', game_id=game.id) }}">
	      <input type="submit" name="mark" value="Merkitse" />
		  <input type="submit" name="remove" value="Poista" />
	  </td>

	</tr>
    {% endfor %}
  </table>
{% endblock %}