{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Nimi</th>
      <th>Tunnus</th>
	  <th>Julkaisupäivä</th>
	  <th></th>

    </tr>
    {% for game in games %}
    <tr>
      <td>{{ game.name }}</td>
      <td>{{ game.tag }} </td>
	  <td>{{ "{}.{}.{}".format(game.publication.day, game.publication.month, game.publication.year) }}</td>
      <td>
	  <form method="POST" action="{{ url_for('games_removeOrMarkOrEdit', game_id=game.id) }}">
		{% if current_user.is_authenticated %}
	      {% if current_user.admin %}
			<input type="submit" name="edit" value="Muokkaa" />
			<input type="submit" name="remove" value="Poista" />
	      {% else %}
			<input type="submit" name="mark" value="Merkitse" /> 
	      {% endif %}
	    {% endif %}
	  </form> 
	  </td>

	</tr>
    {% endfor %}
  </table>
{% endblock %}