{% extends "layout.html" %}

{% block body %}
  
  <main role="main" class="container">
	{% if current_user.is_authenticated %}
		<a href="{{ url_for('games_form') }}">Lisää peli</a>
	{% endif %}
	{% if current_user.admin %}
	    <a href="{{ url_for('games_index') }}">Kaikki pelit</a>
	    <a href="{{ url_for('games_flaggedList') }}">Virheellisiksi merkityt</a>
	{% endif %}
  </main>
  
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">Nimi<a href="{{ url_for('games_indexReverse') }}">&#x25B2 </a><a href="{{ url_for('games_index') }}">&#x25BC </a></th>
        <th style="width: 10%">Tunnus<a href="{{ url_for('games_tagOrderReverse') }}">&#x25B2 </a><a href="{{ url_for('games_tagOrder') }}">&#x25BC </a></th>
        <th style="width: 15%">Julkaisupäivä<a href="{{ url_for('games_publicationOrderReverse') }}">&#x25B2 </a><a href="{{ url_for('games_publicationOrder') }}">&#x25BC </a></th>
        <th style="width: 10%">Arvosteluja<a href="{{ url_for('games_reviewCountOrderDesc') }}">&#x25B2 </a><a href="{{ url_for('games_reviewCountOrderAsc') }}">&#x25BC </a></th>
        <th style="width: 10%">Arvosteluiden keskiarvo<a href="{{ url_for('games_reviewAverageOrderDesc') }}">&#x25B2 </a><a href="{{ url_for('games_reviewAverageOrderAsc') }}">&#x25BC </a></th>
		<th style="width: 30%"><input style="width: 80%" class="form-control" id="myInput" type="text" placeholder="Search.."></th>
	  </tr>
    </thead>
    <tbody id="myTable">
	  {% for game in games %}
        <tr>
          <td style="position:relative"><div style="width: 90%; overflow: auto; position: absolute;">{{ game.name }}</div></td>
          <td style="position:relative"><div style="width: 90%; overflow: auto; position: absolute;">{{ game.tag }}</div></td>
          <td>{{ game.publication }}</td>
          <td>{{ game.review_count }}</td>
          <td>{{ game.review_average }}</td>
		  <td>
		    <form method="POST" action="{{ url_for('reviews_index', game_id=game.id) }}">
	        </form>
	        <form style="display:inline" method="POST" action="{{ url_for('reviews_index', game_id=game.id) }}">
		      <input type="submit" name="review" value="Listaa arvostelut" /> 
	        </form>
		    {% if current_user.is_authenticated %}
	          <form style="display:inline" method="POST" action="{{ url_for('reviews_form', game_id=game.id) }}">
				<input type="submit" name="listReviews" value="Arvostele" /> 
		      </form>
			{% endif %}	       
	        <form style="display:inline" method="POST" action="{{ url_for('games_removeOrMarkOrEdit', game_id=game.id) }}">
		      {% if current_user.is_authenticated %}
	            {% if current_user.admin %}
			      <input type="submit" name="edit" value="Muokkaa" />
			      <input type="submit" name="remove" value="Poista" />
		       {% else %}
			     <input type="submit" name="mark" value="Merkitse virheelliseksi" /> 
		       {% endif %}
	         {% endif %}
		  </td>	 
        </tr>
	  {% endfor %}
    </tbody>
  </table>
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
  
{% endblock %}